
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');

.img{
    width: 50px;
    height: 50px;
    filter: drop-shadow(4px 4px 4px rgb(29, 119, 204));
}
.text{
    color:#fff !important;
  font-family: 'Xanh Mono', monospace;

}